@use './styles/variables' as *;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $background-color;
  
  &-main {
    display: flex;
    flex: 1;
    overflow: hidden;
    min-height: 400px; /* Ensure minimum height */
    border: 2px solid orange; /* Debug border */
  }
} 